@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } 
}

.animate-gradient-x {
  animation: gradient-x 8s ease infinite;
  background-size: 40% 50%;
}
